#
# this was the original stuff
#run = "cowsay Configure me!"

#
# notes on the .replit for C code 
#
# removed '-s' which silences the build step
#
# Because the goal is that students learn about the C development environment,
# the hidden section is commented out.

compile = ["make"]
# enter executable name in run statement
run = "./main WhoRU?" 
entrypoint = "main.c"
#hidden = ["main", "main-debug", "**/*.o", "**/*.d", ".ccls-cache", "Makefile"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".ccls-cache"]

[debugger]
support = true

[debugger.compile]
command = ["make", "main-debug"]
noFileArgs = true

[debugger.interactive]
transport = "stdio"
startCommand = ["dap-cpp"]

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.initializeMessage.arguments]
adapterID = "cppdbg"
clientID = "replit"
clientName = "replit.com"
columnsStartAt1 = true
linesStartAt1 = true
locale = "en-us"
pathFormat = "path"
supportsInvalidatedEvent = true
supportsProgressReporting = true
supportsRunInTerminalRequest = true
supportsVariablePaging = true
supportsVariableType = true

[debugger.interactive.launchMessage]
command = "launch"
type = "request"

[debugger.interactive.launchMessage.arguments]
MIMode = "gdb"
arg = []
cwd = "."
environment = []
externalConsole = false
logging = {}
miDebuggerPath = "gdb"
name = "g++ - Build and debug active file"
# enter executable name to debug
program = "./main-debug"
request = "launch"
setupCommands = [
	{ description = "Enable pretty-printing for gdb", ignoreFailures = true, text = "-enable-pretty-printing" }
]
stopAtEntry = false
type = "cppdbg"

[languages]

[languages.c]
pattern = "**/*.{c,h}"

[languages.c.languageServer]
start = "ccls"

[nix]
channel = "stable-22_11"
# ?does nix need to be last?
